<div class="mt-24 relative bg-gray-800">
    <div
        class="absolute top-96 right-0 w-48 h-48 blur-[180px] bg-gradient-to-r from-blue-300 to-blue-500 rounded-3xl z-[-1]">
    </div>
    <div
        class="absolute bottom-50 left-0 w-48 h-48 blur-[200px] bg-gradient-to-r from-blue-300 to-blue-500 rounded-3xl z-[-1]">
    </div>
    <div
        class="absolute bottom-0 left-0 w-48 h-48 blur-[200px] bg-gradient-to-r from-blue-300 to-blue-500 rounded-3xl z-[-1]">
    </div>

    <div class="flex mt-6 justify-center">
        <button onclick="location.href='/carts/{{user.cart}}'" class="bg-white text-black/90 border border-transparent font-semibold px-8 py-2 rounded-full hover:bg-zinc-900 hover:text-gray-300 transition-all duration-300">VER CARRITO</button>
    </div>

    <div class="my-12 flex justify-center items-center" data-cart-id="{{user.cart}}">
        <div class="flex grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#each products}}
            <div class="bg-[#050505] w-96 rounded-xl p-6 shadow-lg transform transition-transform duration-300 hover:scale-105">
                <div class="flex flex-col justify-center items-center">
                    <img src={{this.thumbnail}} alt="" width="250" height="250" class="rounded-lg shadow-md" />
                </div>
                <h3 class="font-medium text-xl text-white text-center mt-4">
                    {{this.title}}
                </h3>
                <h2 class="text-gray-200 font-semibold text-3xl mt-2 text-center">
                    <span class="gradient-text">${{this.price}}</span>
                </h2>
                <div class="w-full h-[1px] my-4"></div>
                <p class="font-medium text-base text-zinc-400 text-center mt-2">
                    {{this.description}}
                </p>
                <div class="w-full h-[1px] my-4"></div>
                <button class="bg-[#2d2d2d] hover:bg-black/20 transition-all duration-200 w-full py-2 rounded-xl text-gray-200 font-medium buy-btn"
                    data-product-id="{{this._id}}" data-cart-id="{{this.userCart}}">
                    Comprar
                </button>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const buyButtons = document.querySelectorAll('.buy-btn');
        buyButtons.forEach(button => {
            button.addEventListener('click', async (event) => {
                const productId = button.dataset.productId;
                const cartId = button.dataset.cartId; 

                try {
                    const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
                    const result = await response.json();
                    Toastify({
                    text: result.message,
                    className: result.success ? "success" : "error",
                    newWindow: true,
                    style: {
                        background: result.success ? "rgba(43, 69, 186, 0.2)" : "rgba(255, 0, 0, 0.2)",
                        border: result.success ? "1px solid #2b45ba" : "1px solid #C52222",
                        borderRadius: "10px",
                        fontSize: "12px",
                    },
                }).showToast();
                } catch (error) {
                    console.error('Error al agregar producto al carrito:', error);
                }
            });
        });
    });
</script>

